force-app/main/default/flows/Opportunity_After_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Received_Email_Capacity_Building</name>
        <label>Received Email - Capacity Building</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Grant_Application_Received_Capacity_Building</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Grant_Application_Received_Capacity_Building</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Received_Email_Institutional_Impact</name>
        <label>Received Email - Institutional Impact</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Grant_Application_Received_Institutional_Impact</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Grant_Application_Received_Institutional_Impact</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Received_Email_Professional_Development</name>
        <label>Received Email - Professional Development</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Grant_Application_Received_Professional_Development</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Grant_Application_Received_Professional_Development</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Received_Email_Teacher_Scholar</name>
        <label>Received Email - Teacher Scholar</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Grant_Application_Received_Teacher_Scholar</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Grant_Application_Received_Teacher_Scholar</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Stage</name>
        <label>Stage?</label>
        <locationX>974</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Application_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type</targetReference>
            </connector>
            <label>Application Received</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type</name>
        <label>Type?</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Professional_Development</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Development</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Received_Email_Professional_Development</targetReference>
            </connector>
            <label>Professional Development</label>
        </rules>
        <rules>
            <name>Capacity_Building</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Capacity-Building</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Received_Email_Capacity_Building</targetReference>
            </connector>
            <label>Capacity Building</label>
        </rules>
        <rules>
            <name>Institutional_Impact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Institutional Impact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Received_Email_Institutional_Impact</targetReference>
            </connector>
            <label>Institutional Impact</label>
        </rules>
        <rules>
            <name>Teacher_Scholar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Teacher-Scholar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Received_Email_Teacher_Scholar</targetReference>
            </connector>
            <label>Teacher Scholar</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - After Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stage</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
